build/debug
inpatient_management_system.business/bin
inpatient_management_system.business/obj
inpatient_management_system.commonlib/bin
inpatient_management_system.commonlib/obj
inpatient_management_system.dal/bin
inpatient_management_system.dal/obj
inpatient_management_system.dto/bin
inpatient_management_system.dto/obj
inpatient_management_system.Tests/bin
inpatient_management_system.Tests/obj
inpatient_management_system.ui.web/bin
inpatient_management_system.ui.web/obj
SMOScripting/bin
SMOScripting/obj




*.pbd
*.exe
*.msi
*.temp
*.cache
